nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(73,79,82);
    color:white;
    font-size:30px;
    font-weight: bold;
}
.nav-links{
    width:50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.student-links{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(73,79,82);
    color:white;
    list-style: none;
}

a{
    color:white;
}
a:visited{
    color:white;
}
.radiobuttons{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.homepage{
    background: rgb(73,79,82);
    color:#fff;
    font-size:30px;
}
h1{
    background: rgb(73,79,82);
    color:#fff;
    font-size:40px;
}